@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/animation";

section
{
    background-color: $color-background;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 1em;
    position: relative;
    margin-top: -3rem;

    #section_titre
    {
        display: grid;
        grid-template-columns: 90% 10%;

        .section_titre_icone
        {
            @include center;
            font-size: 2em;
        }
    }

    .menu_du_restaurant
    {

        h2
        {
            display: inline-block;
            border-bottom: 2px solid $color-tertiary;
            padding-bottom: 5px;
            width: 2.5rem;
        }

        .menu_du_restaurant_choix
        {
            display: flex;
            flex-direction: column;

            &:hover
            {
                :nth-child(1)
                {
                    animation: tanslation-menu_choix 1s;
                }
                :nth-child(2)
                {
                    animation: tanslation-menu_choix 1s 3s;
                }
                :nth-child(3)
                {
                    animation: tanslation-menu_choix 1s 6s;
                }
            }

            .menu_du_restaurant_choix_btn
            {
                background-color: white;
                display: flex;
                border-radius: 25px;
                margin-bottom: 1em;

                &:hover
                {
                    :nth-child(2)
                    {
                        width: 60px;
                    }
                }

                .menu_du_restaurant_choix_btn_conteneur
                {
                    display: flex;
                    align-items: flex-end;
                    width: 100%;
                    overflow: hidden;
                    padding: 0 0.5em;
                    justify-content: space-between;

                    .menu_du_restaurant_choix_btn_conteneur_titre
                    {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;

                        h3
                        {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        p
                        {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }

                    .menu_du_restaurant_choix_btn_conteneur_prix
                    {
                        font-weight: bold;
                        padding: 0 0.5rem;
                    }
                }

                

                .menu_du_restaurant_choix_btn--check
                {
                    background-color: $color-tertiary;
                    border-top-right-radius: 25px;
                    border-bottom-right-radius: 25px;
                    overflow: hidden;
                    @include center;
                    transition: width 750ms;
                    width: 0;

                    .menu_du_restaurant_choix_btn--check_icone
                    {
                        background-color: white;
                        border-radius: 360px;
                        width: 20px;
                        height: 20px;
                        color: $color-tertiary;
                        @include center;
                    }
                }
            }
        }
    }

    .reservation_lien
    {
        @include center;
    }
}