@import "../abstracts/variables";
@import "../abstracts/mixins";

body
{   
    @include respondTo(mobile)
    {
        display: flex;
        flex-direction: column;
    }

   main
   {
        #menuNavigation
        {
            margin: 1em;

            .menuNavigation_btn
            {
                display: flex;
                align-items: center;
                background-color: $color-background;
                padding: 1em 0 1em 1em;
                margin-bottom: 1.5em;
                border-radius: 10px;

                &_numero
                {
                    position: relative;
                    left: -1.5em;
                    color: white;
                    background-color: $color-primary;
                    border-radius: 180px;
                    width: 25px;
                    height: 25px;
                    @include center;
                }
                
                &_icone
                {
                    margin-right: 1em;
                }

                p
                {
                    margin: 0;
                }
            }
        }

       #restaurants
       {
            background-color: $color-background;
            padding: 1em;

            .restaurants_element
            {
                border-radius: 15px;
                background-color: white;
                margin-top: 1em;
                margin-bottom: 1em;

                .restaurants_element_a
                {
                    display: grid;
                    grid-template-rows: 60% 40%;

                    .restaurants_element_img
                    {
                       img
                       {
                           height: 150px;
                           width: 100%;
                           object-fit: cover;
                           border-top-left-radius: 15px;
                           border-top-right-radius: 15px;
                       }
                    }

                    .restaurants_element_info
                    {
                        display: grid;
                        grid-template-columns: 3fr 1fr;

                        &_nom
                        {
                            padding-left: 0.8em;
                        }

                        .restaurants_element_info_icone
                        {
                            @include center;
                            font-size: 2em;
                        }
                    }
                }

            }
        }
   }
}