footer
{
    background-color: rgb(51, 51, 51);
    color: white;
    padding: 1em;

    .lien_pied_de_page
    {
        list-style-type: none;
        line-height: 1.5em;
        padding-left: 0;

        a
        {
            color: white;

            .lien_pied_de_page_icone
            {
                margin-right: 1em;
            }
        }
    }

}

