@import "../abstracts/variables";
@import "../abstracts/mixins";

header
{
    text-align: center;
    display: flex;
    flex-direction: column;

         #logo
        {
            width: 60%;
            height: 60%;
        }

    #localisation
    {
        border-top: rgb(148, 147, 147) solid 3px;
        background-color: rgb(207, 207, 207);

        .localisation_icone
        {
            margin-right: 1em;
        }
    }

    #reservation
    {
        background-color: $color-background;
        padding: 1em;
        @include center;
        flex-direction: column;

       /* .reservation_lien_btn
        {
            width: 250px;
            height: 60px;
            @include center;
            background: $color-reservation-btn;
            border-radius: 100px;
            color: white;
        }*/
    }
}