@import "../abstracts/variables";
@import "../abstracts/mixins";

header
{
    display: flex;
    flex-direction: column;

    #icone_logo
    {
        display: grid;
        grid-template-columns: 5% 95%;
        padding: 0.5rem 0;

        a
        {
            @include center;
            @include respondTo(mobile)
            {
                margin-left: 1em;
            }

            .icone
            {
                font-size: 1em;
                @include center;
                @include respondTo(desktop)
                {
                    font-size: 2em;
                }
                @include respondTo(tablette)
                {
                    font-size: 1.5em;
                }
            }
        }

        .conteneur_logo
        {
            @include center;
            @include respondTo (mobile)
            {
                width: 12em;
                margin-left: 4rem;
            }
    
        } 
    }
    @include respondTo(desktop)
    {
        #photo_header
        {
            height: 500px;
            figure 
            {
                height: 100%;
                img 
                {
                    height: 100%;
                    width: max-content;
                    object-fit: cover;
                }  
            }
        
        }
    }
  
}
