.reservation_lien_btn
        {
            width: 250px;
            height: 60px;
            @include center;
            background: $color-reservation-btn;
            border-radius: 100px;
            color: white;
        }