@font-face
{
	    font-family: 'Roboto-Regular';
	src: url('../police/roboto/Roboto-Regular.ttf');
}

@font-face
{
	    font-family: 'Roboto-Thin';
	src: url('../police/roboto/Roboto-Thin.ttf');
}

@font-face
{
	    font-family: 'Roboto-Bold';
	src: url('../police/roboto/Roboto-Bold.ttf');
}

@font-face
{
	    font-family: 'Shrikhand';
	src: url('../police/shrikhand/Shrikhand-Regular.otf');
}

body
{
    font-family: Roboto-thin, sans-serif;
}

h1, h2, h3 
{
    font-family: Roboto-Bold, sans-serif;
}

.menuNavigation_btn, .Reservation_btn
{
    font-family: Roboto-Regular, sans-serif;
}

.logo_pied_de_page
{
	font-family: Shrikhand, sans-serif;
	font-size: large;
}