@keyframes translation-menu_choix
{
    from 
    {
        transform: translateY(150px);
        opacity: 0;
    }
    to 
    {
        transform : translateY(0px);
        opacity: 1;
    }
}

.restaurants_element_icone--pleine
{
    color: $color-primary;
    transition: opacity 1s;
    opacity: 0;
    &:hover
    {
        opacity: 1;
    }
}

@keyframes spin
{
    from
    {
        transform: rotate(0deg);
    }
    to 
    {
        transform: rotate(1440deg);
    }
}

@keyframes loader
{
    0%
    {
        opacity: 1;
    }
    99%
    {
        opacity: 0;
    }
    100% 
    {
        display: none;
        opacity: 0;
    }
}

@keyframes anti-scroll 
{
    0% 
    {
        overflow: hidden;
        overscroll-behavior: none;
    }
    90%
    {
        overflow: hidden;
        overscroll-behavior: none;
    }
    100% 
    {
        overflow: visible;
        overscroll-behavior: auto;
    }
}